<h1>Welcome to PicShare</h1>
<h2>Create new event</h2>
<h2>or</h2>
<h2>Choose an event:</h2>
<ul>
  <% @events.each do |event| %>
      <li><%= link_to event.name, :controller => "event_viewer", :action => "index", :id => event.id %></li>
  <% end %>
</ul>
