<div class="button"><%= link_to 'Create new event', { controller: 'events', action: 'new' }, class: 'button' %></div>
<h2>or</h2>
<h2>Choose an event:</h2>
<ul>
  <% @events.each do |event| %>
      <li><%= link_to event.name, { controller: "events", action: "show", id: event.id } %></li>
  <% end %>
</ul>
