<h1>Welcome to PicShare</h1>
<h2><%= link_to 'Create new event', { controller: 'events', action: 'new' }, class: 'button' %></h2>
<h2>or</h2>
<h2>Choose an event:</h2>
<ul>
  <% @events.each do |event| %>
      <li><%= link_to event.name, controller: "events", action: "show", id: event.id %></li>
  <% end %>
</ul>
