// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$picshare-blue: #1f7aff;
div.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 520px;
  a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24pt;
    &:link {
      background-color: $picshare-blue;
    }
    &:hover {
      background-color: blue;
    }
  }

}