%span.fileinput-button.btn.btn-primary.btn-sm
  %span Upload Photos...
  %input#fileupload{type: "file", name: "files[]", 'data-url' => "/photos/upload", multiple: true, 'data-eventid' => "#{@event.id}"}
#progress
  .bar{style: "width:0%;"}

